
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


    
}
html {
  font-size: 16px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 900px;
}
.Name{
    font-weight: 800;
    width: 121px;
    height: 61px;
    font-size: 90px;
    margin-left: 500px;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    gap: 53px;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 40px;
}
.Dark2{color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 40px;
    padding: 18px 35px;
    border-radius: 5px;
}
.Greeting{
    font-size: 90px;
    font-weight: 400;
}
.inform{
    font-size: 160px;
    font-weight: bold;
}
p{
    font-size: 36px;
    line-height: 35px;
    color: #757575;
}
.space{
    margin-right: 30px;
}
.Man{
    width: 1000px;
    height: 1200px;
    margin-right: 300px;
}
.Maya{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 330px;
    
}
.Nirob{
    margin-left: 450px;
}
header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: 180px,1750px;
    background-position: 100px bottom,bottom right;
    
}
.div-head{
    font-weight: bold;
    font-size: 70px;
    text-align: center;
}
.div-discription{
    
text-align: center;
    
}
.banner-discription{
    background-color: #FFF8F3;
    margin: 0 auto;
    padding: 200px 150px;
    


}
.main-info{
    
    margin: 130px auto;
    max-width: 2280px;
    
}
.item-value{
    font-weight: bold;
    font-size: 40px;
    color: #474747;
}
.about-items{
    display: flex;
    justify-content: space-around;

}
.banner-border{
    border: 1px solid black;
    background-color: #FFFFFF;
    padding-left: 10px;
}
.skill-name{
    font-size: 40px;
    font-weight:bold ;
}
.flexible{
    display:flex;
gap: 24px;
flex-wrap: nowrap;
margin: 0 auto;
align-items: center;
justify-content: center;


}
.section-skill{
    padding: 30px;
    width: 350px;
    height: 600px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06) ;
    
}
    
    img{
        width:80px;
        height: 80px;
    }
    .text-center{
        text-align: center;
    }
.resume-style{
    font-size: 70px;
    font-weight: bold;
}
.resume-topic{
    font-size: 60px;
    font-weight: bold;
}
.resume-title{
    font-weight: bold;
    font-size: 50px;
    
}
.resume-subtitle{
    font-weight: 600;
    font-size: 40px;
    color: rgba(117, 117, 117, 1);
}
.resume-descriptipn{
    color: rgb(117, 117, 117, 1);

    font-weight: 400;
    font-size: 32px;
}
.Resume-descriptions{
        color: rgb(117, 117, 117, 1);
        font-weight: 400;
        font-size: 32px;

}
.resume-explain{
    display: flex;
    justify-content: center;
    align-items: center;

}
.resume-button{
    background-color: #FD6E0A;
    padding: 19px 17px;
    font-weight: bold;
    font-size: 40px;
    color: white;
    border: none;
}
.Contact{
    display: flex;
    max-width:3200px ;
    justify-content: space-between;
    padding: 260px 460px;
    background-color: #FFF8F3;
}
.form-title{
    font-weight: bold;
    font-size: 70px;
}
.way{
    font-weight: 400;
    font-size: 32px;
}
.form-description{

}
.display-email{
    display: block;
    margin: 21px 0;
}
input[type="text"],input[type="email"]{

    height: 128px;
    width: 100%;
    font-size: 32px;
    
}
textarea{
    font-size: 34px;
}
input[type="submit"]{
padding: 36px 78px;
    height: 120px;
    font-size: 40px;
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    margin-top: 22px;
    border: none;
    border-radius: 5px;
}
input[type="submit"]:hover{
    border: 4px solid blueviolet;
}